@import "base.less";
#header{

   a.fa-arrow-left{
       position: absolute;
       left: .15rem;
       line-height: .45rem;
   }
   form{
    padding-top: .02rem;
    overflow: hidden;
    width: 100%;
   
   }
   input{
       border-radius: .05rem;
       width: 100%;
   }
}