* {
  padding: 0;
  margin: 0;
}
img {
  vertical-align: middle;
}
li {
  list-style: none;
}
html {
  height: 100vh;
}
body {
  font-size: 0.14rem;
  height: 100%;
  padding-top: .45rem;
  padding-bottom: .45rem;
}
#main {
  height: 100%;
  overflow: hidden;
  position: relative;
}
#header {
  background-color: #006699;
  height: .45rem;
  display: flex;
  position: fixed;
  top: 0px;
  padding-left: .45rem;
  padding-right: .45rem;
  width: 100vw;
  z-index: 999;
}
#header h4 {
  line-height: .45rem;
  text-align: center;
  flex: 1;
  margin: 0;
}
#header a {
  line-height: .45rem;
  text-align: center;
  position: absolute;
  right: 10px;
}
#footer {
  width: 100vw;
  height: .45rem;
  display: flex;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 999;
  background-color: #006699;
}
#footer a {
  width: 25%;
  text-align: center;
  display: block;
  color: #fff;
  padding-top: .085rem;
  padding-bottom: .085rem;
}
#footer a span {
  display: block;
}
#main #nav {
  padding: .1rem;
}
#main #nav ul {
  display: flex;
  flex-wrap: wrap;
}
#main #nav ul li {
  width: 33.33%;
  list-style: none;
}
#main #nav ul li a {
  display: block;
}
#main #nav ul li a img {
  width: 100%;
}
#main #banner {
  padding: .1rem;
  display: flex;
}
#main #banner .banner-left {
  height: 2.3666rem;
  flex: 2;
}
#main #banner .banner-left a {
  font-size: 0;
}
#main #banner .banner-left a img {
  width: 50%;
  height: 50%;
}
#main #banner .banner-right {
  flex: 1;
  height: 2.3666rem;
}
#main #banner .banner-right a {
  display: block;
  height: 100%;
}
#main #banner .banner-right a img {
  width: 100%;
  height: 100%;
}
#main #brand {
  padding: .1rem;
}
#main #brand .brand-titile {
  width: 100%;
}
#main #brand .brand-titile img {
  width: 100%;
}
#main #brand .brand-content ul {
  display: flex;
  flex-wrap: wrap;
}
#main #brand .brand-content ul li {
  width: 25%;
}
#main #brand .brand-content ul li a {
  display: block;
}
#main #brand .brand-content ul li a img {
  width: 100%;
}
#main #manColumn,
#main #exercise,
#main #MsColumn {
  padding: .1rem;
}
#main #manColumn .titile,
#main #exercise .titile,
#main #MsColumn .titile {
  width: 100%;
}
#main #manColumn .titile img,
#main #exercise .titile img,
#main #MsColumn .titile img {
  width: 100%;
}
#main #manColumn .content,
#main #exercise .content,
#main #MsColumn .content {
  width: 100%;
}
#main #manColumn .content ul,
#main #exercise .content ul,
#main #MsColumn .content ul {
  width: 100%;
  overflow: hidden;
}
#main #manColumn .content ul li,
#main #exercise .content ul li,
#main #MsColumn .content ul li {
  width: 50%;
  float: left;
}
#main #manColumn .content ul li:nth-child(1),
#main #exercise .content ul li:nth-child(1),
#main #MsColumn .content ul li:nth-child(1) {
  border: 1px solid #ccc;
}
#main #manColumn .content ul li a.product,
#main #exercise .content ul li a.product,
#main #MsColumn .content ul li a.product {
  display: block;
  text-align: center;
}
#main #manColumn .content ul li a.product img,
#main #exercise .content ul li a.product img,
#main #MsColumn .content ul li a.product img {
  width: 100%;
}
