@import "base.less";
#main{
    .title{
        background-color: #ccc;
     ul{
        display: flex;
        height: .3rem;
        li{
            width: 25%;
            &:nth-child(1){
                a{
                    color: red;
                }
                
            }
            a{
                display: block;
                text-align: center;
              
            }
        }
     }
    }
}